.calculator {
    background-color: grey;
}
.input {
    grid-area: input;
    background-color: white;
}
    .enter {
        grid-area: enter;
    }
    .plus {
        grid-area: plus;
    }
    .minus {
        grid-area: minus;
    }
    .times {
        grid-area: time;
    }
    .divide {
        grid-area: divide;
    }
    .equal {
        grid-area: equal;
    }
        .one {
            grid-area: one;
        }
        .two {
            grid-area: two;
        }
        .three {
            grid-area: three;
        }
        .four {
            grid-area: four;
        }
        .five {
            grid-area: five;
        }
        .six {
            grid-area: six;
        }
        .seven {
            grid-area: seven;
        }
        .eight {
            grid-area: eight;
        }
        .nine {
            grid-area: nine;
        }
        .zero {
            grid-area: zeroo;
        }
        .asterisk {
            grid-area: asterisk;
        }
        .pound {
            grid-area: pound;
        }

 
      .big {
        height: 100px;
        padding: 5px;
      }
