* {
    box-sizing: border-box;
}
html,
body {
    height: 100vh;
    background-image: url(../images/midwest.png) 
}
header {
    background-color: red;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-area: header;
  }
.greeting {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: greeting;
}
.date {
    background-color:yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: date;
  }
.time {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: time;
}

.calculator {
    background-color: #2d418f;
    grid-area: calculator;
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr 30px;
    grid-template-rows: 20px 2fr 1fr 1fr 1fr 1fr 1fr 20px;
    grid-template-areas: 
        ". . . . . ."
        ". input input input input ."
        ". . . . . ."
        ". one two three plus ."
        ". four five six minus ."
        ". seven eight nine time ."
        ". zeroo enter enter divide ."
        ". . . . . .";
    }
    .button {
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1px;

    }
        .input {
            grid-area: input;
            background-color: white;
    
        }
        .enter {
            grid-area: enter;
            grid-gap: 100px;
        }
        .plus {
            grid-area: plus;
        }
        .minus {
            grid-area: minus;
        }
        .times {
            grid-area: time;
        }
        .divide {
            grid-area: divide;
        }
        .equal {
            grid-area: equal;
        }
        .one {
            grid-area: one;
        }
        .two {
            grid-area: two;
        }
        .three {
            grid-area: three;
        }
        .four {
            grid-area: four;
        }
        .five {
            grid-area: five;
        }
        .six {
            grid-area: six;
        }
        .seven {
            grid-area: seven;
        }
        .eight {
            grid-area: eight;
        }
        .nine {
            grid-area: nine;
        }
        .zero {
            grid-area: zeroo;
        }
.to-doList {
    background-color:#d0d0e1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-area: todoList;  
 }
    .to-doTitle {
    grid-area: todoTitle;
    color: #53535c;
    display: flex;
    justify-content: center;
    margin: 5px;
    }
    .checkbox { 
        grid-area: checkbox;
    }
    .tdinput {
        grid-area: todoInput;
    }
   
body {
    display: grid;
    grid-template-rows: 3fr 3fr 1fr 1fr 1fr 1fr 1fr 2fr 3fr 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr 2fr;
    grid-template-areas: 
      ". . . . . . . . ."
      ". . header header header header header . . "
      ". . . . . . . . ."
      ". . . greeting greeting greeting . . ."
      ". . . . . . . . ."
      ". . . . time . . . ."
      ". . . . date . . . ."
      ". . . . . . . . ."
      "calculator . . . . . . . todoList"
      ". . . . . . . . ."
}